# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
coverage/

# IDE
.idea/
*.iml
.vscode/

# Platform (opcional: descomentá si no versionás keystores)
# *.jks
# *.keystore

# Misc
*.log
*.swp
.DS_Store
